* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  font-size: 13px;
  line-height: 18px;
  color: #515076;
  font-weight: 400;
}

.title {
  font-size: 70px;
  line-height: 78px;
  display: flex;
  justify-content: center;
  margin-bottom: 110px;
  margin-top: 220px;
  position: relative;
}

.product-catalog {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.bg-flowers {
  background-image: url('images/bg-flowers.png');
  background-repeat: no-repeat;
  background-size: 790px 697px;
  top: 0;
  width: 790px;
  height: 697px;
  z-index: -1;
  background-position: 85px 0px;
  position: absolute;
}

.card-container {
  width: 340px;
  height: 573px;
  padding: 25px;
  background-color: #F7F7FA;
  box-shadow: 2px 2px 10px 0px #5150761A;
  margin-left: 45px;
  margin-bottom: 45px;
  position: relative;
}

.change-color-blue {
  background-color: #0004df;
}

.change-color-purple{
  background-color: #600cfd;
}

.product-category {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #A5A3B9;
  margin-top: 30px;
  margin-bottom: 5px;
  display: block;
}

.product-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-description {
  margin-bottom: 15px;
}

.product-compound {
  margin-top: 5px;
  list-style: circle;
  margin-left: 14px;
  margin-bottom: 25px;
}

.product-price-container {
  display: flex;
  justify-content: space-between;
}

.product-price-text {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.procut-price {
  font-size: 20px;
  line-height: 24px;
}

.product-gift {
  display: flex;
  justify-content: center;
  list-style: none;
}